@keyframes loading {
  to {
    background-position: 0, 0 0;
  }
}

[skeleton]:empty, [skeleton].skeleton--visible, .skeleton.skeleton--visible {
  position: relative;

  &::after {
    content: ' ';

    position: absolute;
    inset-inline: 0;
    inset-block: 0;

    --skeleton-bg-color: #5F377D;

    --blur-background: linear-gradient(
                    130deg,
                    transparent 0,
                    transparent 35%,
                    #18191c99 40%,
                    #18191ce6 50%,
                    #18191c99 60%,
                    transparent 70%,
                    transparent 100%
    );

    --image-skeleton: linear-gradient(var(--skeleton-bg-color), var(--skeleton-bg-color));

    background-repeat: no-repeat;

    background-image: var(--blur-background),
    var(--image-skeleton);

    background-size: 600% 200%;

    background-position: 130%,
    0 0;

    animation: loading 1.8s ease-in infinite;
  }

  &[type="text"] {
    block-size: 1.5rem;
  }
}