:host {
  display: block;

  block-size: 100%;
  inline-size: 100%;

  padding-block-start: 2rem;
}

$footer-height: 3.5rem;

.body {
  block-size: calc(100% - $footer-height);

  overflow-y: auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  block-size: $footer-height;
  inline-size: 100%;

  background-color: #9B4D96;
}

app-forecast {
  margin-block-start: 2.5rem;
}