<div class="week-day" skeleton type="text" [show]="!day">
    {{ day?.forecastTime | date: 'dd' }}
    {{ day?.forecastTime | date: 'ccc' | translate }}
</div>

<weather-icon skeleton [show]="!iconCode" [code]="iconCode" />

<div skeleton type="text" [show]="!day" class="temperature temperature--day">
    {{ day?.mainParameters?.temperature | temperature }}
</div>

<div skeleton type="text" [show]="!day" class="temperature temperature--night">
    {{ night?.mainParameters?.temperature | temperature }}
</div>