@let weather = weatherData();
@let main = weather?.main;
@let iconCode = weather?.weatherConditions?.[0]?.iconCode;
@let wind = weather?.wind;

<div class="city-name" skeleton type="text" [show]="!weather">
    {{ weather?.cityName }}
</div>

<div class="line line--main">
    <weather-icon [code]="iconCode!" skeleton [show]="!iconCode"/>

    <h1 class="temperature" skeleton type="text">
        @if (main) {
            {{ main.temperature | temperature }}
        }
    </h1>
</div>

<div class="line">
    <div class="header" skeleton type="text" [show]="!main">
        <icon name="termometer"/>
        Feels like:
    </div>

    <div class="value" skeleton type="text" [show]="!main">
        {{ main?.feelsLike | temperature }}
    </div>
</div>

<div class="line">
    <div class="header" skeleton type="text" [show]="!main">
        <icon name="drop" /> Humidity:
    </div>

    <div class="value" skeleton type="text" [show]="!main">
        {{ main?.humidity }}%
    </div>
</div>

<div class="line">
    <div class="header" skeleton type="text" [show]="!main">
        <icon name="barometer" /> Pressure:
    </div>

    <div class="value" skeleton type="text" [show]="!main">
        {{ main?.pressure }} hPa
    </div>
</div>


@if (wind) {
    <div class="line">
        <div class="header">
            <icon name="wind" /> Wind:
        </div>

        <div class="value">
            {{ wind.speed }} m/s
        </div>
    </div>
}